# =============================================================================
# Git Attributes
# =============================================================================

# Enforce LF line endings
* text=auto eol=LF
*.py       text eol=LF
*.sh       text eol=LF
*.yml      text eol=LF
*.yaml     text eol=LF
*.json     text eol=LF
*.md       text eol=LF
